@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply m-0 p-0 box-border no-scrollbar overflow-x-hidden;
    }

    body {
        @apply text-base bg-gray-50 dark:bg-gray-950 text-gray-800 dark:text-gray-200 font-normal font-jost leading-normal;
    }
}

@layer utilities {
    .section-gap {
        @apply mb-16 md:mb-[150px];
    }

    .modal-open {
        @apply overflow-hidden;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}